* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-color: cornflowerblue;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    color: white;
    background-color: purple;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

input {
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    padding: 15px;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}

hr {
    color: purple;
    width: 50%;
    background-color: white;
    margin: 20px auto;
}

#addBtn {
    background-color: purple;
    height: 40px;
    width: 40px;
    color: white;
    font-size: x-large;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#addBtn:hover {
    background-color: green;
}

.list {
    background-color: white;
    padding: 0 20px;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    background-color: white;
    padding: 10px;
    color: blueviolet;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#delBtn {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: darkslategrey;
    color: white;
    font-size: larger;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#delBtn:hover {
    background-color: red;
}

@media (max-width: 600px) {
    .box {
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    input {
        padding: 10px;
    }

    #addBtn {
        width: 30px;
        height: 30px;
        font-size: large;
    }

    li {
        font-size: medium;
    }
}
